html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: #626262;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.main-menu {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.page-header {
    padding-top: 72px;
    padding-bottom: 100px;
}

/* site navigation */

.site-navigation {
    display: inline-block;
    vertical-align: middle;
    width: 900px;
    list-style: none;
    text-align: center;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.site-navigation li {
    display: inline-block;
    font-size: 14px;
}

.site-navigation li:not(:last-child) {
    margin-right: 100px;
}



.main-menu a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #626262;
}

.main-menu-item {
    list-style: none;
}

.main-menu a:hover,
.main-menu a:focus {
    color: #03a9f4
}

/* articles list*/

.articles-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.articles-list-item {
    margin-bottom: 134px;
}


.articles-list-item {
    display: inline-block;
    width: 420px;
    margin-right: 60px;
    font-size: 14px;
}

.articles-text {
    font-size: 14px;
    margin: 0;
    padding: 0;
}


.articles-list-item:nth-child(2n) {
    margin-right: 0;
}

.articles-list-item img {
    margin-bottom: 30px;
}

.menu-nav-part {
    margin-bottom: 30px;
    text-decoration: none;
    color: #b4ad9e;
    text-transform: uppercase;
}

.articles-list-item h2 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 40px;
    margin-top: 0;
}

.bottom-item {
    margin-bottom: 0;
}

.load-button {
    padding-top: 52px;
    padding-bottom: 70px;
    display: block;
    vertical-align: middle;
    margin: 0 auto;
    padding: 22px 32px;
    width: 164px;
    font-size: 20px;
    line-height: 24px;
    color: #626262;
    cursor: pointer;
    text-align: center;
}

.load-button:focus,
.load-button:hover {
    color: #03a9f4
}