/* TEAM SECTION */

.team {
  padding-bottom: 5rem;

  &__description {
    font-size: 0.9375rem;
    color: $main-color;
    line-height: 1.6;
    text-align: center;
    margin: 0 auto;
    width: 59rem;
    margin-bottom: 5.625rem;
  }

  &__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;

    &-item_wrap {
      position: relative;
      margin: 0;
      -webkit-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
      margin-bottom: 1.875rem;

      &:hover {
        -webkit-box-shadow: 0.625rem 0.625rem 0 rgb(149, 225, 211);
        box-shadow: 0.625rem 0.625rem 0 rgb(149, 225, 211);
        -webkit-transform: translate(-0.625rem, -0.625rem);
        -ms-transform: translate(-0.625rem, -0.625rem);
        transform: translate(-0.625rem, -0.625rem);

        .overlay {
          opacity: 1;
          visibility: visible;
        }

      }

    }


  }

  &__name {
    font-size: 0.875rem;
    font-family: $main-font;
    font-weight: 600;
    color: $second-color;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 10px;
    text-align: center;
  }

  &__ocupation {
    font-size: 0.9375rem;
    font-family: $text-font;
    font-style: italic;
    color: #999999;
    line-height: 1.6;
    text-align: center;
  }
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from($gradient-color));
  background: -o-linear-gradient(bottom, $gradient-color);
  background: linear-gradient(to top, $gradient-color);
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  &__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;


    &-item {
      text-align: center;

      &:not(:last-child) {
        margin-right: 0.0625rem;
      }

    }


  }

}

.social-icons__link {
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $hover-color;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  &:hover {
    background-color: $decor-color;
    -webkit-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    transition: background-color 200ms linear;

    .social-icons__link_svg {
      fill: $header-color;
    }

  }


  &_svg {
    width: 1.625rem;
    height: 2rem;
    fill: $decor-color;
  }
}