$header-color: rgb(255, 255, 255);
$gradient-color: rgba(252, 227, 138, 0.9) 0%, rgb(243, 129, 129) 100%;
$main-color: rgb(153, 153, 153);
$second-color: rgb(51, 51, 51);
$hover-color: rgb(252, 227, 138);
$decor-color: rgb(243, 129, 129);
$main-font: "Montserrat";
$text-font: "Roboto", sans-serif;
$title-top-font: "Kaushan Script", cursive;