/* kaushan-script-regular - latin */
@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: local('Kaushan Script'), local('KaushanScript-Regular'),
         url('../fonts/kaushan-script-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/kaushan-script-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
         url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-regular - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }



html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1 {
    margin: 0;
    padding: 0;
}
ul,
ol {
    list-style: none;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


/* HEADER */

.site-navigation {
    margin-bottom: 90px;
    
    
    
}

.site-navigation-background {
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgb(243, 129, 129) 100%), url(/img/retina/eagle.jpg);
    height: 100vh;
    margin-bottom: 80px;
}



  
.logo {
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    display: flex;

}


  

.header-list-item-link {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
}

  

.header {
    display: flex;
    min-height: 100px;
    align-items: center;
    justify-content: space-between;
    

}

.header-nav {
    display: flex;
    width: 628px;
}

.header-list {
    display: flex;
    padding: 0;
    width: 620px;
    justify-content: space-between;
    padding-top: 15px;
    
}

.header-list-icons {
    width: 92px;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.header-list-item::after {
    display: block;
    content: "";
    background-color: rgb(252, 227, 138);
    width: 0;
    height: 3px;
    margin-top: 12px;
}

.header-list-item:hover::after {
    width: 100%;
    transition: width 200ms linear;
}

.header-list-item-link:hover {
    color: rgb(252, 227, 138);
    transition: color 200ms linear;
}


.header-list-item-link-icon {
    fill: rgb(255, 255, 255);
    width: 18px;
    height: 15px;
}

.header-list-item-link-icon:hover {
    fill: rgb(252, 227, 138);
}

.header-title-top {
    font-size: 72px;
    font-family: 'Kaushan Script', cursive;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 90px;
}

.header-title-bottom {
    font-size: 150px;
    line-height: 1;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    width: 821px;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-top: 46px;;

}
 
.header-button {
    background-color: transparent;
    border: none;
    display: block;
    margin: 0 auto;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    width: 154px;
    padding: 12px;
    text-align: center;

} 


  
/* SERVICES SECTION */

.services-block {
    padding-bottom: 92px;
    
}

.section-title {
    padding: 0;
    margin: 0;
}

.section-title-top {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: center;
    margin: 0;

    margin-bottom: 16px;


}

.section-title-bottom {
    display: block;
    margin: 20px auto 0;
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 66px;
}

.section-title-bottom::after {
    content: "";
    display: block;
    background-color: rgb(243, 129, 129);
    width: 60px;
    height: 3px;
    margin: 0 auto;
    margin-top: 40px;

}

/* SERVICES LIST ITEM */

.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services-list-item {
    padding-left: 80px;
    position: relative;
    width: 380px;
}

.services-list-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 100px;
}

.services-list-item::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    left: 20px;
    background-position: 1px;
    background-repeat: no-repeat;
    
}


  

.alarm::before {
    content: "";
    background-image: url(/img/services-pic/alarm.svg);

}

.line-graph::before {
    content: "";
    background-image: url(/img/services-pic/line-graph.svg)

}

.computer::before {
    content: "";
    background-image: url(/img/services-pic/computer.svg);

}

.book::before {
    content: "";
    background-image: url(/img/services-pic/book.svg)

}

.home::before {
    content: "";
    background-image: url(/img/services-pic/home.svg)
}

.image::before {
    content: "";
    background-image: url(/img/services-pic/image.svg)
}


.services-list-name {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 12px;
}

.services-list-about {
    font-size: 15px;
    color: rgb(153, 153, 153);
    line-height: 1.6;
}


/* TEAM SECTION */

.team-title-top {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: center;
}

.team-title-bottom {
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.section-description {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: center;
    margin: 0 auto;
    width: 944px;
    margin-bottom: 90px;
}

/* TEAM LIST */

.team-block {
    padding-bottom: 80px;
}

.team-list-item-name {
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: normal;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 10px;
}


.team-list-item-ocupation {
    font-size: 15px;
    font-family: "Roboto";
    font-style: italic;
    color: rgb(153, 153, 153);
    line-height: 1.6;
}


.team-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.info {
    text-align: center;
    margin-top: 30px;
}

/* OVERLAY */

.team-list-item-wrap {
    position: relative;
    margin: 0;
    transition: all 0.2s linear;

}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgb(243, 129, 129) 100%);
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    
}

.team-list-item-wrap:hover .overlay {
    opacity: 1;
    visibility: visible;
}

.team-list-item-wrap:hover {
    box-shadow: 10px 10px 0 rgb(149, 225, 211);
    transform: translate(-10px, -10px);
}



/* SOCIAL ICONS */

.social-icons-item:not(:last-child) {
    margin-right: 1px;
}

.social-icons {
    display: flex;
    align-items: center;
    padding: 0;
}

.social-icons-item-link:hover {
    background-color: rgb(243, 129, 129);
    transition: background-color 200ms linear;
}

.social-icons-item-link:hover .social-icons-item-link-svg {
    fill: rgb(255, 255, 255);
}
  

.social-icons-item {
    text-align: center;
}

.social-icons-item-link {
    display: block;
    width: 56px;
    height: 56px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(252, 227, 138);
    
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.social-icons-item-link-svg {
    width: 26px;
    height: 32px;
    fill: rgb(243, 129, 129);
}


/* FOOTER */

.footer {
    min-height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(229, 229, 229);
}

.contact-info {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    line-height: 1.2;
    font-style: normal;
}

.contact-link {
    color: rgb(243, 129, 129);
}

.footer-form {
    display: flex;
}

.push-me {
    background-color: transparent;
    background-color: rgb(149, 225, 211);
    width: 150px;
    height: 40px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    border: none;

}

.form-input {
    
    width: 228px;
    height: 40px;
    padding-left: 10px;
    border: 1px solid rgb(204, 204, 204);
    font-size: 15px;
    font-family: "Roboto";
    font-style: italic;
    font-weight: 300;
    line-height: 1.6;


}

.form-input::placeholder {
    
    color: rgb(204, 204, 204);
    
}

@media (min-resolution: 192dpi) {
    .site-navigation {
        background-image: url(/img/retina/eagle@2x.jpg);
    }
}
